<header role="banner" id="fh5co-header">
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="row">
                <div class="col-md-3">
                    <div class="fh5co-navbar-brand">
                        <a class="fh5co-logo" href="index.html">Narrow</a>
                    </div>
                </div>
                <div class="col-md-9 main-nav">
                    <ul class="nav text-right menuid">
                        <li class="active"><a href="index"><span>Home</span></a></li>
                        <li><a href="services">Services</a></li>
                        <li><a href="product">Products</a></li>
                        <li><a href="about">About</a></li>
                        <li><a href="contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>

<script>
    var menu = document.getElementById("menuid");
    var href = window.location;
    var pathName = href.pathname;
    for (var i = 0; i < menu.children.length; i++) {
        menu.children[i].classList.remove("active");
    }
    if (pathName == "/services") {
        menu.children[1].classList.add("active");
    }
    if (pathName == "/services") {
        menu.children[0].classList.add("active");
    }
</script>