<header id="header">
    <!--header-->
    <div class="header_top">
        <!--header_top-->
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="contactinfo">
                        <ul class="nav nav-pills">
                            <li><a href="#"><i class="fa fa-phone"></i> +2 95 01 88 821</a></li>
                            <li><a href="#"><i class="fa fa-envelope"></i> info@domain.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">

                </div>
            </div>
        </div>
    </div>
    <!--/header_top-->

    <div class="header-middle">
        <!--header-middle-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="logo pull-left">
                        <a href="/home"><img src="public/images/home/logo.png" alt="" /></a>
                    </div>

                </div>
                <div class="col-sm-8">
                    <div class="shop-menu pull-right">
                        <ul class="nav navbar-nav">
                            <li><a href="/cart"><i class="fa fa-shopping-cart"></i> Cart</a></li>
                            <li><a href="/user"><i class="fa fa-lock"></i>Login</a></li>                       
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/header-middle-->

    <div class="header-bottom">
        <!--header-bottom-->
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="mainmenu pull-left">
                        <ul id="menuid" class="nav navbar-nav collapse navbar-collapse">
                            <li ><a class="active" href="/home" >Home</a></li>
                            <li><a href="/product?category_id=0">Shop</a></li>
                            <li><a href="/home/blog">Blog</a> </li>
                            <li><a href="/home/contact">Contact</a></li>
                        </ul>

                        <!-- <ul id="menuid" class="nav text-right">
                            <li class="active"><a href="/home"><span>Home</span></a></li>
                            <li><a href="/product?category_id=0">Shop</a></li>
                            <li><a href="/home/blog">Blog</a></li>
                            <li><a href="/home/contact">Contact</a></li>                          
                        </ul> -->
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="search_box pull-right">
                        <form action="/product/findProduct" method="post">
                            <input type="text" name="product_name" placeholder="Search" />   
                            <!-- <button type="submit" class="site-btn">SEARCH</button>                        -->
                        </form>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/header-bottom-->
</header>
<!--/header-->
<script>
    var menuid =document.getElementById("menuid");
    var href = window.location;
    var pathname = href.pathname;
    for(var i=0;i<menuid.children.length;i++){
        menuid.children[i].classList.remove("active");

    }
    if(pathname == "/product?category_id=0"){
        menuid.children[1].classList.add("active");
    }
    if(pathname == "/home/blog"){
        menuid.children[2].classList.add("active");
    }
    if(pathname == "/home/contact"){
        menuid.children[3].classList.add("active");
    }
    if(pathname == "/home"){
        menuid.children[0].classList.add("active");
    }
</script>